@import 'tailwindcss';

:root {
  --background: #ffffff;
  --primary: #1c74bc;
  --secondary: #38b349;
  --arrow-icon: url('https://senxanh-prod-media.s3.ap-southeast-1.amazonaws.com/arrow_icon_755d5720c5.png');
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

.container {
  max-width: 1280px;
  padding: 0 6rem !important;
  margin: 0 auto;
}

.section {
  margin: 5rem 0;
}

@media screen and (max-width: 1024px) {
  .container {
    padding: 0 4rem !important;
  }

  .section {
    margin: 3rem 0;
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0 2rem !important;
    max-width: 1024px;
  }

  .section {
    margin: 3rem 0;
  }
}

@media screen and (max-width: 640px) {
  .container {
    padding: 0 1rem !important;
    max-width: 640px;
  }
  .section {
    margin: 3rem 0;
  }
}

.mobile-only {
  display: none;
}

@media (max-width: 768px) {
  .mobile-only {
    display: block;
  }
  .desktop-only {
    display: none;
  }
}

.border-primary {
  position: relative;
  border: var(--border-width, 2px) solid transparent;
  border-radius: var(--border-radius, 8px);
  background-clip: padding-box;
}

.border-primary > div {
  position: relative;
  z-index: 1;
  background-color: var(--border-background-color, #fff);
  border-radius: inherit;
}

.border-primary::before {
  content: '';
  position: absolute;
  inset: 0;
  margin: calc(0px - var(--border-width, 2px));
  border-radius: calc(
    (var(--outer-radius-offset, 2px)) + var(--border-radius, 8px)
  );
  background: linear-gradient(90deg, #0097b2, #7ed957);
  z-index: 0;
}

.text-primary {
  color: var(--primary) !important;
}

.text-secondary {
  color: var(--secondary) !important;
}

.bg-primary {
  background-color: var(--primary) !important;
}

.bg-secondary {
  background-color: var(--secondary) !important;
}

.btn-primary {
  background: linear-gradient(90deg, #0097b2, #7ed957);
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  border-radius: 30px;
  font-weight: 700;
  width: fit-content;
}

.btn-primary-header {
  background: linear-gradient(90deg, #0097b2, #7ed957) !important;
  color: #fff !important;
  border: none !important;
  padding: 0.5rem 1rem !important;
  border-radius: 5px !important;
  cursor: pointer !important;
  border-radius: 30px !important;
  font-weight: 700 !important;
  width: fit-content;
  transition: all 0.3s ease-in-out !important;
}

.btn-primary-header:hover {
  color: #fff !important;
  background: linear-gradient(90deg, #7ed957, #7ed957) !important;
}

.btn-primary:hover {
  color: #fff !important;
  background: linear-gradient(90deg, #7ed957, #7ed957) !important;
}

.ant-carousel .slick-arrow {
  opacity: 1 !important;
  width: 20px !important;
  height: 20px !important;
}

.ant-carousel .slick-arrow::after {
  background: var(--arrow-icon) no-repeat center center/contain;
  transform: none !important;
  width: 20px !important;
  height: 20px !important;
}
.ant-carousel .slick-prev {
  inset-inline-start: -32px !important;
}

.ant-carousel .slick-next {
  inset-inline-end: -32px !important;
}

@media screen and (max-width: 768px) {
  .ant-carousel .slick-prev {
    inset-inline-start: 16px !important;
  }

  .ant-carousel .slick-next {
    inset-inline-end: 16px !important;
  }
}

.ant-carousel .slick-next::after {
  transform: rotate(180deg) !important;
}

.menu-items > li::after {
  bottom: 12px !important;
  border-bottom-width: 0px !important;
  transition: all 0.3s ease-in-out !important;
  opacity: 0;
  background: var(--secondary);
  height: 3px;
  border-radius: 2px;
}

.menu-items > .ant-menu-item-active::after,
.menu-items > .ant-menu-item-selected::after {
  opacity: 1;
}
